.row div {
  display: inline-block;
}
.ui-page {
  background: -webkit-radial-gradient(#f1e767, #feb645) 0 0 no-repeat fixed;
  background-size: contain;
}
.ui-page .time {
  font-size: 8em;
}
.ui-page .time .timeWrap {
  width: auto;
  border-bottom: 1px solid;
}
.ui-page .controls .ui-btn {
  padding: .7em 4em;
}
.ui-page .controls.ui-controlgroup {
  padding-top: 1em;
}
.ui-page .timer {
  width: auto;
  margin: 0 auto;
  text-align: center;
}
.ui-page .ingredients {
  width: 80%;
  margin: 0 auto;
}
.ui-page .addIngredientPopup {
  text-align: center;
}
.ui-page .addIngredientPopup h3 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
.ui-page .addIngredientPopup .buttonWrap {
  text-align: center;
}
