
// Reset
html, body { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-weight: normal; font-style: normal; font-size: 100%; line-height: 1; font-family: inherit; }
table { border-collapse: collapse; border-spacing: 0; }
ol, ul { list-style: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

html {
  overflow-y: scroll;
  font-size: 100%;
}
// Focus states
a:focus {
  outline: thin dotted;
}
// Hover & Active
a:hover,
a:active {
  outline: 0;
}

img {
    border: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}
input[type="search"] {
          box-sizing: content-box;
}
textarea {
  overflow: auto;
  vertical-align: top;
}

// End Reset

.row {
  div { display: inline-block; }
}

// Index.html

body {
  background: -webkit-radial-gradient(#f1e767, #feb645) no-repeat center center fixed;
  background-size: cover;
}

// End Index.html
.app {

  height: 100%;
  width: auto;

  .time {
    margin: 20% 0 0 0;
    font: 500% Helvetica;

    .timeWrap {
      width: auto;
      border-bottom: 1px solid;
    }
  }

  .controls {
    margin: 1% 0 0 0;
    font: 200% Helvetica;
  }

  .timer {
    width: auto;
    margin: 0 auto;
    text-align: center;
    color: darkred;
  }

} // .app
